/*Bedingungen Responsive Design*/
html,
body {
  height: 100%;
  margin: 0;
}

/* um die Seiten responsible zu machen*/
* {
  box-sizing: border-box;
}

/*Navigationsleiste*/
nav {
  width: 100%;
  height: 96px;

  background: rgba(74, 104, 183, 0.9);
  font-family: "Anonymous Pro", sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  margin: 0 10px;
  float: right;
}

nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 34px 16px;
  text-decoration: none;
}

nav ul li form {
  display: block;
  color: white;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
}

.logo {
  padding: 24px 16px;
}

/* Background */
.login-background {
  position: relative;
  background-color: rgb(225, 232, 250);
  border-radius: 24px;
  width: 607px;
  height: 757px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 30px 50px 20px 50px; /* oben,rechts,unten,links */
}

h1, h2 {
  font-family: "Anonymous Pro", sans-serif;
  color: rgb(74, 104, 183);
}

/* Login form */
.login-form {
  font-family: "Anonymous Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgb(80, 85, 92);
}

/*Input Boxen*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  border-radius: 20px;
  border: 1px solid rgb(120, 151, 232);
  background: white;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

/* admin Spieler */

table,
td,
th {
  border: 3px solid rgb(225, 232, 250);
  font-family: "Anonymous Pro", sans-serif;
  text-align: center;
}

table {
  margin: 40px 0 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  padding: 10px;
}

.spielkarte {
  width: 100px;
  height: auto;
}

.table-background {
  position: relative;
  background-color: rgb(225, 232, 250);
  border-radius: 24px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 42px;
  padding: 30px 50px 20px 50px; /* oben,rechts,unten,links */
}

.table-background p {
  color: rgb(74, 104, 183);
  font-size: 12pt;
  font-family: "Anonymous Pro", sans-serif;
}
